:root {
  --grid-layout-gap: 15px;
  --font-family: 'Roboto', sans-serif;
}

body {
  @apply bg-gray-100;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-column-gap: var(--grid-layout-gap);
}

.input__search,
.input__field {
  @apply shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
  @apply focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

.input__label {
  @apply block text-gray-700 text-xs font-bold mb-2 uppercase;
}

/** Buttons */
.btn {
  @apply bg-white text-gray-800 font-semibold py-2 px-4 border border-gray-300 rounded;
}

.btn:hover {
  @apply bg-gray-100;
}

.btn__outline {
  @apply bg-transparent font-semibold py-2 px-4 border rounded;
}

.btn__outline:hover {
  @apply border-transparent;
}

.btn__outline.btn__outline--cyan {
  @apply text-cyan-600 border-cyan-500;
}

.btn__outline.btn__outline--cyan:hover {
  @apply bg-cyan-500 text-white;
}